@keyframes rotacao {
    from {transform: rotate(7deg);}
    to {transform: rotate(360deg);}
}

@keyframes piscar{
    from{opacity:1}
    to{opacity:0.3}
}

@keyframes scalar{
    from{transform: scale(1)}
    to{transform: scale(1)}
}