@keyframes rotacao {
    from {transform: rotate(7deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotacaoDevice {
    from {
        transform: rotate(90deg);
        opacity : 0
    }
    to {
        transform: rotate(180deg);
        opacity : 1
        
    }
}


@keyframes piscar{
    from{
        color: $colors['main'] 
    }
    to{
        color: $colors['second']
    }
}

@keyframes scalar{
    from{transform: scale(1)}
    to{transform: scale(1)}
}