
.banners
    @extends .padding-zero

#banner-container
    overflow hidden

.list-acoes
    margin-top 40px

#c-banner
    z-index: 999;
    position: relative;
.caixa-leort
    position: absolute
    z-index 3
    margin-left: -230px

.esteticista
    text-align: left
    border-left: 1px solid $colors['verde-texto']

.esteticista-container
    @extends .align-center
    & > *
        align-self: center

.esteticista-social
    @extends .align-flex
    margin-top: 5px
    a 
        margin-right 5px

.funcao
    @extends .padding-zero
    @extends .margin-zero
    line-height: remify(10px)
    font-size: remify(12px)


.blog-img-prod
    margin-top 8px

.icon-acoes
    max-width 50px
    margin-right: 10px

.bandeira
    @extends .absolute
    bottom: -30px
    left 0
    z-index 9999
.section
    padding 100px 0
.leort-desc
    box-shadow: 0px 4px 1px $shadow-color
.marca-desc
    margin-top: 10px
    margin-bottom: 30px


.text-leort
    margin-top: 130px

.line-blue
    width: 100%
    height 1px
    background-image: url(../img/linha-striort.png)
    background-size: contain;

.line-small
    background-image: url(../img/linha-striort.png)
    background-position: center center
    background-size: contain
    height 2px
.line-h3
    @extends .line-small
    max-width 450px
    height 3px
.line-width
    max-width 150px;
    margin: auto
    height 2px
    background-image: url(../img/linha-striort.png)
    background-position: center center
    background-size: contain

.c-banner
    display: flex

.background-cover
    background-size: cover
    background-position: center center
.background-topo
    background-image: url(../img/striort-background-topo.jpg)
    @extends .background-cover


.background-topo2
    background-image: url(../img/background-gravida-striort.jpg)
    @extends .background-cover

.centralizar
    display: flex
    justify-content: flex-end
    width: 100%;
    height: 100%;
    flex-wrap: wrap
    & > *
        align-self: center


.texto-banner
    justify-content: flex-end
    float: right 
    margin-right: 150px

.texto-banner-1
    font-size: 30px
    line-height: 1.2

.sem-padding
    padding: 0

.section 
    padding remify(50px) 0

.linha-meio
    font-weight: 100

.bloco-melhoria
    background-color: #3a4f46
    color: #80bfaa
    height:500px
    text-align: center

.linha-verde-agua
    border-left: 1px solid #82beab
    padding: 20px

.infos
    padding: 0
    margin 0
    font-size: 14px

.abrirAgenda
    cursor pointer

.con-inscricao
    display none

.popUpItem
    p.tel 
    p.email 
        font-size: 14px
        margin: 0
        padding 0
    a
        color: $colors['verde']
        font-weight: bold
        cursor pointer
#agenda-c
    margin-top remify(30px)

.arrow-right
    right 0
    transform: scaleX(-1)
._80
    font-size: remify(50px)

.curso-flex
    display: flex
    flex-wrap: wrap
    & > *
        width: 33.33333%
        border 1px solid white
        flex-grow: 1
    & > .oneLine
            width: 100% 

.cursos-flex
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    & > *
        width: 23%
        padding 20px
        border 1px solid lightgray
        font-size: remify(16px)
        box-shadow: 2px 2px 2px lightgray
        line-height: 20px
        margin-top 20px
        p
            margin 0

.organizadores-flex
    display: flex
    justify-content: center
    flex-wrap: wrap
    & > *
        width: 23%
        padding 20px
        border 1px solid lightgray
        font-size: remify(16px)
        box-shadow: 2px 2px 2px lightgray
        line-height: 20px
        margin 20px

.striort-conheca
    .striort-title
        h4
            font-size: remify(17px)
            margin: 0
            padding 10px 0
            padding-left: 10px
            text-align: left
        line-height: auto
    .striort-desc
        padding: 20px
        p 
            line-height: 25px;
            font-size: 16px;

#agenda
    @extends .background-cover
    @extends .bg-main

.estec-docs
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 30px
    list-style: none;

    text-align: center;
}
.estec-docs li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.estec-docs li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.estec-docs li button:hover,
.estec-docs li button:focus
{
    outline: none;
}
.estec-docs li button:hover:before,
.estec-docs li button:focus:before
{
    opacity: 1;
}
.estec-docs li button:before
{
    font-family: 'slick';
    font-size: 12px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: 1;
    color: $colors['verde-texto'];

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.estec-docs li.slick-active button:before
{
    opacity: .75;
    color: $colors['verde-texto'];
}

.position-img-logo
    margin: auto


.icone-da-lista
    list-style: url(../img/icone-da-lista.png)

.curriculo
    margin-top: 20px
    padding 0
    li
        padding: 10px
        list-style: none

.container-curriculo
    button
        width: 90%
        margin-top: 30px
        padding: 10px
        font-size: 22px
        font-weight: bold
        color: #ffffff
        background-color: #7cbea9
        border-radius: 10px

.link:hover
    text-decoration: none
    color #85c3af

.botao-saiba-mais
    margin-left: 10px
    &:hover
        text-decoration: underline

.borda-na-midia
    border: 2px solid #3b4f46

.espacamento
    padding: 10px

.banner-img-striort
    max-width: 100px

.background-lipo
    background-image: url('../img/background-mulher-lipo.png')
    background-size: contain 
    background-repeat: no-repeat;
    background-position: left top
    background-color: #f3f3f3

.titulo-comentario
    padding: 50px
    text-align: center

.background-diamond
    background-color: #357782



@media screen and (max-width: $queries['large'])
    .leort-image-text
        padding-top 20px
        padding-bottom: 0
    .text-leort
        margin-top: 0px
    .bandeira
        max-width: 550px;
        bottom: 0;
        left: -70px;
    .seta-left
        left -10px
    .seta-right
        right -10px
    
    .texto-banner
        margin-right: 10px
    
    .background-lipo 
        background-size: cover 
        background-position: -620px top


@media screen and (max-width: 1440px)
    .texto-banner
        margin-right: 120px
    
    .background-lipo 
        background-position: -300px top


@media screen and (max-width: 1380px)
    .texto-banner
        margin-right: 50px
   
    .background-lipo 
        background-position: -400px top

@media screen and (max-width: 1100px)
    .texto-banner
        margin-right: 10px
    
    .background-lipo 
        background-position: -500px top

@media screen and (max-width: 900px)
    .texto-banner
        margin-right: 30px
    
    .background-lipo 
        background-size: cover 
        background-position: -1050px top
    
    .item-ministrante 
        text-align: center

@media screen and (max-width: 570px)
    .banner-title-lipo
        padding: 20px
        background-color: alpha($colors['inverse'], 0.8)

       
@media screen and (max-width: $queries['medium'])
    .texto-banner
        margin-right: 10px
    
    .background-lipo 
        background-size: cover 
        background-position: -720px top

    .curso-flex
        & > *
            width: 47%
            margin 2px
    
    ._80
        font-size: remify(45px)
    .esteticista
        text-align: center
        border-left: 0
        border-top: 1px solid $colors['verde-texto'];
        margin-top: 20px;
        padding-top 20px
    .esteticista-social
        justify-content: center
    .icone-striort
        max-width 140px
    footer
        .container
            div
                margin-top 20px
    .texto-banner-gravida
        justify-content: start 
        & > div
            margin-left: 0
    .esteticista-container
        @extends .align-center
        flex-direction: column
        & > *
            align-self: center


@media screen and (max-width: $queries['small'])
    .texto-banner
        margin-right: 10px
    
    .background-lipo 
        background-size: cover 
        background-position: -620px top

    .h1-banner
        font-weight: 500
    #curso
        background-image: url(../img/background-mulher-striort.jpg)
        background-position: center right
        background-repeat: no-repeat
        background-size: 300px
    .background-topo2
        background-size: 700px;
        background-position bottom 
        background-repeat: no-repeat;
    .curso-flex
        & > *
            width: 100%
            margin 2px
    
    .cursos-flex
        & > *
            width: 47%
            margin 2px

    .leort-desc
        margin-top 40px
    .item-c
        h1
        p 
            text-align: center
        p 
            font-size: 18px
            line-height: 1.2
            margin-bottom: 10px
            img
                margin: auto

        .text-banner
            img
                margin: auto

@media screen and (max-width: 480px)
    .cursos-flex
        & > *
            width: 100%
    
    .texto-banner
        margin-right: 10px
    
    .background-lipo 
        background-size: cover 
        background-position: -680px top

    .banner-title-lipo
        font-size: remify(30px)
        margin-top: 5px
    .banner-img-striort
        max-width: 40px
        margin-top: -20px
    .background-topo2
        background-size: 900px;
        background-position bottom 
        background-repeat: no-repeat;

@media screen and (max-width: 390px)
    .background-topo2
        background-size: 650px;
        background-position bottom 
        background-repeat: no-repeat;
    .background-topo
        background-position: 44%
    .h1-banner
        font-size: 20px
    .icone-striort
        max-width 100px
    .bandeira
        bottom: -20px;     
        max-width: 420px;     
        left: -120px;

@media screen and (max-width: 390px)
    .texto-banner
        margin-right: 10px
    
    .background-lipo 
        background-size: cover 
        background-position: -550px top

@media screen and (max-width: 375px)
    .texto-banner
        margin-right: 10px
    
    .background-lipo 
        background-size: cover 
        background-position: -600px top

@media screen and (max-width: 365px) 
    .background-lipo 
        background-size: cover 
        background-position: -600px top
        
@media screen and (max-width: 340px)
    .texto-banner
        margin-right: 10px
    
    .background-lipo 
        background-size: cover 
        background-position: -500px top

@media screen and (max-width: 320px)
    .texto-banner
        margin-right: 10px
    
    .background-lipo 
        background-size: cover 
        background-position: -450px top