.container
    .row
        .col-sm-12
            h2.text-inverse.text-center.pd-60-bottom.text-uppercase CONFIRA NOSSA AGENDA
            #abrirAgenda(href="/")
                img.img-responsive.center-block(src="img/agenda.png", alt="Agenda")
    #agenda-c.text-inverse
        .agenda-item.abrirAgenda
            p.data 05/05/2018
            p.cidade Rio de Janeiro/RJ
        .agenda-item.abrirAgenda
            p.data 08/05/2018
            p.cidade Marilia/SP
        .agenda-item.abrirAgenda
            p.data 12/05/2018
            p.cidade Londrina/PR
        .agenda-item.abrirAgenda
            p.data 18/05/2018
            p.cidade João Pessoa/PB
        .agenda-item.abrirAgenda
            p.data 19/05/2018
            p.cidade Recife/PE
        .agenda-item.abrirAgenda
            p.data 23/05/2018
            p.cidade Vitória da Conquista/BA
        .agenda-item.abrirAgenda
            p.data 26/05/2018
            p.cidade Teresina/PI
        .agenda-item.abrirAgenda
            p.data 29/05/2018
            p.cidade Brasília/DF              

