.container
    .row
        .col-sm-12
            h2.text-inverse.text-center.pd-60-bottom.text-uppercase CONFIRA NOSSA AGENDA
            #abrirAgenda(href="/")
                img.img-responsive.center-block(src="img/agenda.png", alt="Agenda")
                p.text-inverse.text-center.pd-20-top Cursos online para todo território brasileiro
    #agenda-c.text-inverse
        .agenda-item.abrirAgenda.text-center
            p.data 29/05/2018
            p.cidade Brasília/DF              

