.c-banner.background-lipo
    .centralizar
        .col-xs-6.col-sm-5.col-md-7
            .texto-banner
                h2.text-second.text-uppercase.text-center.banner-title-lipo  44, 42, 40, 38... <br> Contagem regressiva <br>  
                    span.text-main desde a 1ª sessão
                    
 
//.c-banner.background-topo
    .centralizar
        .banner-especialistas.col-xs-12
            h4.text-verde-agua.pd-40-bottom.text-center Especialitas em 
                span.text-verde-texto estrias
            .centralizar-interno
                h2.h1-banner.text-verde-agua.light Antes
                img.icone-striort(src="img/Logo-striort.png", alt="Logo Striort")
                h2.h1-banner.text-verde-agua.light Depois      