.container
    .row
        .col-xs-12
            h2.text-uppercase.text-verde-texto.text-center  conheça mais sobre o tratamento
    .curso-flex
        .striort-conheca.bg-verde                    
            .bg-verde-texto.striort-title
                h4.text-inverse O QUE É STRIORT® ?
            .text-inverse.striort-desc
                p É uma Técnica Ortomolecular de combate as estrias.
                    | É uma inovaçãoabsoluta, com resultados incríveis e
                    | nunca antes visto, pois promete melhorar a
                    | aparência das Estrias Brancas em até 80% já na
                    |  primeira sessão. É um método diferente, não
                    |  invasivo e não-cirúrgico.
        .striort-conheca.bg-verde                    
            .bg-verde-texto.striort-title
                h4.text-inverse O QUE VOU APRENDER NO CURSO?
            .text-inverse.striort-desc
                p No curso você aprenderá a tratar com excelência 
                    | todos os tipos de Estrias Brancas e Vermelhas. Venha
                    | fazer parte desta seleta gama de profissionais, temos
                    | certeza que será um grande sucesso na sua clínica e
                    | principalmente na vida de todos os seus pacientes.
        .striort-conheca.bg-verde                   
            .bg-verde-texto.striort-title
                h4.text-inverse DESCRIÇÃO
            .text-inverse.striort-desc
                p Imersão avançada na Técnica STRIORT®. O curso
                | ministrado pela Dra Ana Carolina Almeida aborda de  forma teórico-demonstrativo-prático todo o
                | procedimento, aplicando-o em sala de aula.