.container
    .row
        .col-xs-12
            h2.text-uppercase.text-second.text-center DETALHES DO CURSO
            p.text-center Aprenda a tirar todo o potencial dos equipamentos que você já possui em sua clínica, e como associa-los à Eletroterapia Ortomolecular.
    .curso-flex
        .striort-conheca.bg-main                   
            .bg-second.striort-title
                h4.text-inverse PÚBLICO-ALVO
            .text-inverse.striort-desc
                ul.list-bm
                    li Esteticistas Tecnólogas
                    li Esteticistas Técnicas
                    li Fisioterapeutas
                    li Biomédicos
                    li Enfermeiros
                    li Nutricionistas com pós em Estética
                    li Farmacêuticos Estetas que tenham contrato social de empresa prestadora de serviços de estética constituída em seu nome

        .striort-conheca.bg-main                   
            .bg-second.striort-title
                h4.text-inverse BENEFÍCIOS
            .text-inverse.striort-desc
                ul.list-bm
                    li Associar melhores técnicas de eletroterapia e massoterapia a Lipoescultura Gessada® EXCLUSIVE
                    li Fidelizar clientes através de resultados que impressionam
                    li Entender os protocolos gerais e específicos para cada cliente, focado nas disfunções estéticas corporais
                    li Gerar lucro através de um trabalho com seriedade e comprovação técnica

        .striort-conheca.bg-main                  
            .bg-second.striort-title
                h4.text-inverse MATERIAL
            .text-inverse.striort-desc
                ul.list-bm
                    li Apostila
                    li Certificado
                    li Pasta
                    li Crachá
                    li Caneta
                    li Catálogo Produtos

    .curso-flex#inscricao
        .striort-conheca.bg-main.oneLine.pd-40-bottom
            .bg-second.striort-title
                h4.text-inverse CONTEÚDO PROGRAMÁTICO                 
            .text-inverse.striort-desc
                .col-sm-6
                    ul.list-bm
                        li Definição de disfunções corporais e avaliação
                        li Desintoxicação
                        li Radicais livres e antioxidantes
                        li Glicação avançada
                        li Noções de Diáteses de Menetrier

                .col-sm-6
                    ul.list-bm
                        li Apresentação da Linha Bothanica Mineral
                        li Função, indicação e contraindicação dos cosmecêuticos
                        li Formulação de protocolos
                        li Prática

    .curso-flex#inscricao
        .striort-conheca.bg-main.oneLine                   
                .text-inverse.striort-desc
                    .col-sm-3
                        p.text-second.bold CERTIFICADO 
                            img(src="img/icone-certificado.png", alt="Certificado")
                        p SIM
                    .col-sm-3
                        p.text-second.bold LOCAL 
                            img(src="img/icone-local.png", alt="Local")
                        p Presencial 
                    .col-sm-3
                        p.text-second.bold Duração 
                            img(src="img/relogio.png", alt="Data")
                        p 8 horas
                    .col-sm-3
                        p.text-second.bold valor do curso 
                            img(src="img/icone-dinheiro.png", alt="Custo")
                        p 
                           span.text-second.bold INSCRIÇÃO: 
                           | R$300,00 <br>
                           span.text-second.bold RESTANTE: 
                           | 3x R$300,00 (30/60/90)
                        p 
                            em *(sem produtos) <br>
                                | * valor nacional até 3x no cartão
