.container
    .row.pd-40 
        img.img-responsive.position-img-logo(src="img/icone-do-logo-joia.png", alt="Logo")
        p.text-inverse.text-center.pd-60-bottom.pd-20-top Lipoescultura Gessada® EXCLUSIVE não é uma técnica nem um protocolo. É um programa científico que ensina 
            |métodos e formas de tratar as principais disfunções estéticas corporais, como todos os graus de celulite, destoxificação, flacidez e gordura localizada.
            |O curso aborda, principalmente, o uso da linha sem equipamentos, mas também menciona alguns aparelhos que podem ser associado
        h2.text-second.text-center.pd-30-bottom Resultados
        #galeriaEst
            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/Amanda-Fisioo-antes.png", alt="")
                                h4.text-second.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/Amanda-Fisioo-depois.png", alt="")
                                h4.text-second.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-second.margin-zero Amanda F. Ignácio
                            p.text-inverse.funcao Fisioterapeuta Dermatofuncional
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/amanda.eu/" target="_blanck")
                                    img(src="img/icon-insta.png", alt="")
                                a(href="https://www.facebook.com/fisioteraia.ig" target="_blanck")
                                    img(src="img/icon-face.png", alt="")

            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/kamila-capistrano-antes.png", alt="")
                                h4.text-second.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/kamila-capistrano-depois.png", alt="")
                                h4.text-second.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-second.margin-zero Kamila Capistrano
                            p.text-inverse.funcao Fisioterapia
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/dra.kamila_capistrano" target="_blanck")
                                    img(src="img/icon-insta.png", alt="")
            
            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/maisa-coelho-antes.png", alt="")
                                h4.text-second.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/maisa-coelho-depois.png", alt="")
                                h4.text-second.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-second.margin-zero Maisa Coelho
                            p.text-inverse.funcao Fisioterapeuta
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/maisacoelhoo" target="_blanck")
                                    img(src="img/icon-insta.png", alt="")
                                a(href="https://www.facebook.com/maisa.madalena" target="_blanck")
                                    img(src="img/icon-face.png", alt="")

            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/nayara-antes.png", alt="")
                                h4.text-second.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/nayara-depois.png", alt="")
                                h4.text-second.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-second.margin-zero Nayara Andrade
                            p.text-inverse.funcao Esteticista e Cosmetóloga
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/espaconayaraandrade" target="_blanck")
                                    img(src="img/icon-insta.png", alt="")
                                a(href="https://www.facebook.com/espaconayaraandrade" target="_blanck")
                                    img(src="img/icon-face.png", alt="")
            
            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/marilia-ganzer-antes.png", alt="")
                                h4.text-second.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/marilia-ganzer-depois.png", alt="")
                                h4.text-second.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-second.margin-zero Marília Ganzer
                            p.text-inverse.funcao Esteticista
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/divinitta_saude_bemestar" target="_blanck")
                                    img(src="img/icon-insta.png", alt="")
                                a(href="https://www.facebook.com/maris.ganzer" target="_blanck")
                                    img(src="img/icon-face.png", alt="")