.container
    .row.pd-40 
        img.img-responsive.position-img-logo(src="img/logo-ortoshock.png", alt="Logo")
        p.text-inverse.text-center.pd-20-top ORTOSHOCK® é a associação de Eletroterapia a produtos Genuinamente Ortomoleculares 
            |da Bothanica Mineral® voltada ao tratamento da Celulite Fibrótica, mas que ensina muito mais que isso. É Tratamento 
            |inovador que foca no tratamento da causa dos estados mais avançados da celulite de forma rápida, eficaz e duradoura. 
            |Não invasivo e não cirúrgico. <br>Utiliza 3 Fenômenos Físicos da Eletroterapia, sendo: Termoterapia, Tixotropia e 
            |Mecanotransdução, dispostos de maneira funcional e inteligente de acordo com o grau de acometimento do tecido.

        
        h2.text-second.text-center.pd-30-bottom.pd-60-top Resultados
        #galeriaEst
            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/elizangela-gamarra-com-celulite.png", alt="")
                                h4.text-second.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/elizangela-gamarra-sem-celulite.png", alt="")
                                h4.text-second.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-second.margin-zero Elizangela Gamarra
                            p.text-inverse.funcao Esteticista Cosmetóloga
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/corpoemforma_" target="_blanck")
                                    img(src="img/icon-insta.png", alt="Instagram")
                                a(href="https://www.facebook.com/corpoemformacg" target="_blanck")
                                    img(src="img/icon-face.png", alt="Facebook")

            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/ana-paula-com-celulite.png", alt="")
                                h4.text-second.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/ana-paula-sem-celulite.png", alt="")
                                h4.text-second.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-second.margin-zero Draª. Ana Paula Andreiv
                            p.text-inverse.funcao Fisioterapeuta
                            p.text-inverse.margin-zero Conheça
                            //.esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/dra.kamila_capistrano" target="_blanck")
                                    img(src="img/icon-insta.png", alt="")
            
            .col-sm-12.item-esteticista
                .esteticista-container
                    .col-xs-12.col-sm-6.pd-20-top
                        .row
                            .col-xs-6
                                img.img-responsive(src="img/elizangela-gamarra-com-celulite2.png", alt="")
                                h4.text-second.text-center Antes
                            .col-xs-6
                                img.img-responsive(src="img/elizangela-gamarra-sem-celulite2.png", alt="")
                                h4.text-second.text-center Depois
                    .col-xs-12.col-sm-6.esteticista
                            h3.text-second.margin-zero Elizangela Gamarra
                            p.text-inverse.funcao Esteticista e Cosmetóloga
                            p.text-inverse.margin-zero Conheça
                            .esteticista-social.pd-20-top
                                a(href="https://www.instagram.com/corpoemforma_" target="_blanck")
                                    img(src="img/icon-insta.png", alt="")
                                a(href="https://www.facebook.com/corpoemformacg" target="_blanck")
                                    img(src="img/icon-face.png", alt="")
