.container
    .row
    .curso-flex#inscricao
        .striort-conheca.bg-main.oneLine                   
                .text-inverse.striort-desc
                    .col-sm-3
                        p.text-second.bold CERTIFICADO 
                            img(src="img/icone-certificado.png", alt="Certificado")
                        p Certificado com Habilitação no método e direito aouso da marca.
                    .col-sm-3
                        p.text-second.bold LOCAL 
                            img(src="img/icone-local.png", alt="Local")
                        p Presencial 
                    .col-sm-3
                        p.text-second.bold Duração 
                            img(src="img/relogio.png", alt="Data")
                        p 8 horas
                    .col-sm-3
                        p.text-second.bold valor do curso 
                            img(src="img/icone-dinheiro.png", alt="Custo")
                        p 
                           span.text-second.bold INSCRIÇÃO: 
                           | R$300,00 <br>
                           span.text-second.bold RESTANTE: 
                           | 3x R$300,00