#na-midia.section
    .container
        .row
            .col-sm-12
                h2.text-second.text-center.pd-60-bottom Na midia
            .col-sm-10.col-sm-offset-1
                .row#midia
                    .col-sm-4
                        img.img-responsive(src="img/na-midia-mulher.png", alt="")
                        .espacamento
                            h4.text-second.bold TV ESTÉTICA
                            p.bold 01/2007
                            p Por ser uma novidade ainda para muita gente, existem várias dúvidas em torno do procedimento. Abaixo você confere o esclarecimento para a 
                                |maioria delas
                            p
                                img.to-left.blog-img-prod(src="img/icone-botao-striort.png", alt="")
                                a.text-second.bold.botao-saiba-mais(href="#") SAIBA MAIS
                    .col-sm-4
                        img.img-responsive(src="img/na-midia-mulher.png", alt="")
                        .espacamento
                            h4.text-second.bold TV ESTÉTICA
                            p.bold 01/2007
                            p Por ser uma novidade ainda para muita gente, existem várias dúvidas em torno do procedimento. Abaixo você confere o esclarecimento para a 
                                |maioria delas
                            p
                                img.to-left.blog-img-prod(src="img/icone-botao-striort.png", alt="")
                                a.text-second.bold.botao-saiba-mais(href="#") SAIBA MAIS
                    .col-sm-4
                        img.img-responsive(src="img/na-midia-mulher.png", alt="")
                        .espacamento
                            h4.text-second.bold TV ESTÉTICA
                            p.bold 01/2007
                            p Por ser uma novidade ainda para muita gente, existem várias dúvidas em torno do procedimento. Abaixo você confere o esclarecimento para a 
                                |maioria delas
                            p
                                img.blog-img-prod.to-left(src="img/icone-botao-striort.png", alt="")
                                a.text-second.bold.botao-saiba-mais(href="#") SAIBA MAIS
                    .col-sm-4
                        img.img-responsive(src="img/na-midia-mulher.png", alt="")
                        .espacamento
                            h4.text-second.bold TV ESTÉTICA
                            p.bold 01/2007
                            p Por ser uma novidade ainda para muita gente, existem várias dúvidas em torno do procedimento. Abaixo você confere o esclarecimento para a 
                                |maioria delas
                            p
                                img.to-left.blog-img-prod(src="img/icone-botao-striort.png", alt="")
                                a.text-second.bold.botao-saiba-mais(href="#") SAIBA MAIS
                    //.col-sm-4
                        .borda-na-midia
                            img.img-responsive(src="img/na-midia-mulher.png", alt="")
                            .espacamento
                                h4.text-second.bold TV ESTÉTICA
                                p.bold 01/2007
                                p Por ser uma novidade ainda para muita gente, existem várias dúvidas em torno do procedimento. Abaixo você confere o esclarecimento para a 
                                    |maioria delas
                                p
                                    img(src="img/icone-botao-striort.png", alt="")
                                    a.text-second.bold.botao-saiba-mais(href="#") SAIBA MAIS

