.container
    .row
        .col-xs-12
            h2.text-uppercase.text-main.text-center.pd-40-bottom  ORGANIZAÇÃO
    .row    
        .organizadores-flex
            .col-sm-06.borda-outros-cursos
                img.img-responsive(src="img/comtato.png", alt="Comtato", style="margin-top:40px;")
            .col-sm-06.borda-outros-cursos
                img.img-responsive(src="img/concept.png", alt="Concept")             
