.container
    .row
        .col-xs-12
            h2.text-uppercase.text-main.text-center.pd-40-bottom  Conheça outros cursos
    .row    
        .cursos-flex
            .col-sm-03.borda-outros-cursos
                img.img-responsive(src="img/striort.jpg", alt="Striort")
                p.text-main O fim das Estrias
                p <br>
                    a.text-second.bold(href="http://striort.com.br" target="_blanck") Saiba Mais
            .col-sm-03.borda-outros-cursos
                img.img-responsive(src="img/lg.png", alt="Ortoshock")
                p.text-main Metodologia nº 1 no MUNDO contra a Celulite e Gordura Localizada
                p 
                    a.text-second.bold(href="https://lipoesculturagessada.com.br" target="_blanck") Saiba Mais                
            .col-sm-03.borda-outros-cursos
                img.img-responsive(src="img/ortobariatric.png", alt="Ortobariatric")
                p.text-main Estética e Emagrecimento Pós-Bariátrico
                p 
                    a.text-second.bold(href="https://www.facebook.com/ORTOBARIATRIC/" target="_blanck") Saiba Mais               
            .col-sm-03.borda-outros-cursos
                img.img-responsive(src="img/PEO.png", alt="")
                p.text-main  A ¹Medicina Ortomolecular Adaptada à Estética
                p 
                    a.text-second.bold(href="https://www.facebook.com/PRATICAESTETICAORTOMOLECULAR/" target="_blanck") Saiba Mais