.container
    h2.text-main.text-center.text-uppercase.pd-40-bottom  Ministrante do curso 
    #cuidadoras
            .col-sm-12
                .row
                    .col-sm-10
                        .row
                            .col-md-4.col-xs-12.col-sm-12
                                img.img-responsive.center-block(src="img/ministrante.png", alt="")
                            .col-md-8.col-sm-12
                                h3.text-second Drª. Profª. Ana Paula Andreiv
                                p Fisioterapeuta especialista em Fisioterapia Dermatofuncional e em Fisioterapia Hospitalar. A professora Ana Paula tem sua própria 
                                    |clínica de estética e dá aulas em cursos na área de estética.








