.container
    h2.text-main.text-center.text-uppercase.pd-40-bottom  Ministrante do curso 
    #cuidadoras
            .col-sm-12
                .row
                    .col-sm-10
                        .row
                            .col-md-4.col-xs-12.col-sm-12
                                img.img-responsive.center-block(src="img/ministrante.png", alt="")
                            .col-md-8.col-sm-12
                                h3.text-second Dra. Ana Paula Andrelv
                                p Fisioterapeuta dermatofuncional; graduada em Fisioterapia pela Escola Superior de Ciências da Santa Casa de Misericórdia de Vitória (2007); pós-graduada em Fisioterapia Dermatofuncional pela Faculdade Gama Filho localizada em Vitoria (2009).








