.container.section
    .row(style="margin:0")
        .col-xs-12
            h3.text-uppercase.text-second.text-center  conteúdo programático
    .curso-flex(style="padding: 0 15px")
        .striort-conheca.bg-second                    
            .bg-main.striort-title
                h4.text-inverse A PELE
            .text-inverse.striort-desc
                ul.list-bm-escuro
                    li Epiderme - camada basal, espinhosa, granulosa, lúcida e córnea
                    li Derme
                    li Tecido celular subcutâneop (hipoderme)
                    li Gândulas sudoríparas
                    li Irrigação sanguínea da derme
                    li Sistema linfático da derme


        .striort-conheca.bg-second                   
            .bg-main.striort-title
                h4.text-inverse ESTRIAS
            .text-inverse.striort-desc
                ul.list-bm-escuro
                    li Evolução das estrias
                    li Definição, etiopatogenia, histopatologia, apresentação, fatores desencadeantes, incidência e classificação 
                    li Prevenção
                    li Logística e entrega
                    li Processo fisiológico da técnica


        .striort-conheca.bg-second                   
            .bg-main.striort-title
                h4.text-inverse PROTOCOLO STRIORT®
            .text-inverse.striort-desc
                ul.list-bm-escuro
                    li Produtos e equipamentos utilizados
                    li Tempo e número de sessões 
                    li Protocolo domiciliar
                    li O segredo

        .pd-40(style="width:100%; padding-bottom: 0")
            h4.text-main.bolder Profissionais e acadêmicos de saúde que contenham especialização em estética nas seguintes áreas:
            ul.list-bm.text-main
                each i in ['Biomédicos', 'Fisioterapeutas', 'Enfermeiros', 'Esteticistas (com formação superior/técnica/tecnóloga a partir do 6º período)' ,'Farmacêutico(a) Esteta.']
                    li #{i}