
.container#teaser
    .col-sm-8.col-sm-offset-2.pd-80-bottom
        h2.text-center.bold.pd-40-bottom.text-uppercase.text-second Teaser
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width="560" height="315" src="https://www.youtube.com/embed/apR6Of7IQVo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)