link(rel="shortcut icon", href="https://s3-sa-east-1.amazonaws.com/happybiz-web/BOTHANICA+MINERAL/ortoshock/icons/76.ico", type="image/x-icon")
link(rel="apple-touch-icon", size="57x57",  href="https://s3-sa-east-1.amazonaws.com/happybiz-web/BOTHANICA+MINERAL/ortoshock/icons/57.png")
link(rel="apple-touch-icon", sizes="114x114",  href="https://s3-sa-east-1.amazonaws.com/happybiz-web/BOTHANICA+MINERAL/ortoshock/icons/114.png")
link(rel="apple-touch-icon", size="72x72",  href="https://s3-sa-east-1.amazonaws.com/happybiz-web/BOTHANICA+MINERAL/ortoshock/icons/72.png")
link(rel="apple-touch-icon", size="120x120",  href="https://s3-sa-east-1.amazonaws.com/happybiz-web/BOTHANICA+MINERAL/ortoshock/icons/120.png")
link(rel="apple-touch-icon", size="76x76",  href="https://s3-sa-east-1.amazonaws.com/happybiz-web/BOTHANICA+MINERAL/ortoshock/icons/76.png")
link(rel="apple-touch-icon", size="152x152",  href="https://s3-sa-east-1.amazonaws.com/happybiz-web/BOTHANICA+MINERAL/ortoshock/icons/152.png")