meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

meta( property="og:title", content="ORTOSHOCK® Celulite Fibrótica Nunca Mais")
meta(property="og:description", content="ELETROTERAPIA ASSOCIADA À ESTÉTICA ORTOMOLECULAR")
meta(property="og:image" content="https://s3-sa-east-1.amazonaws.com/happybiz-web/BOTHANICA+MINERAL/ortoshock/logo-full.png")

meta( property="twitter:title", content="ORTOSHOCK® Celulite Fibrótica Nunca Mais")
meta(property="twitter:description", content="ELETROTERAPIA ASSOCIADA À ESTÉTICA ORTOMOLECULAR")

meta(name="description" content="ELETROTERAPIA ASSOCIADA À ESTÉTICA ORTOMOLECULAR")


<meta name="theme-color" content="#abcc68">

