block settings
    - var title = 'ORTOSHOCK®'
doctype
html(lang="pt")
    head
        include ../_partials/meta-tags
        include ../_partials/icons
        title #{title}
        block CSS
            link(rel="stylesheet", href="css/plugins.css")
            link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick.min.css")
            link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick-theme.min.css")
            

    body

        include ../_partials/_index/face.pug
        //#agemdaPop
            .blackPop
                .popUp.clearfix
                    img.img-responsive.block-center(src="img/agenda-placa.png", alt="")  
                    .flex-popUp  
                        .popUpItem
                            .agenda-item
                                p.data 29/05/2018
                                p.cidade Brasília/DF

                    p.infos INFORMAÇÕES E INSCRIÇÕES:
                    p.infos Concept Cursos 71 3051-1317
                    p.infos ComTato Capacitação 27 2142-5017  




                    .fechar-agenda
                        img.img-responsive.block-center(src="img/fechar-agenda.png", alt="")
        #loader
            img.loader-img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/BOTHANICA+MINERAL/ortoshock/lodder.png", alt="Lodder")
        #device
            .device
                img.loader-img.img-responsive(src="img/device.svg", alt="Lodder")
                p.text-inverse Use na posição vertical para melhor experiência 
        .ir-topo#ir-topo(style="display:none")
            a#ir-topos(href="#banners", class="goesTo link-topo")
                img(class="seta",src="https://s3-sa-east-1.amazonaws.com/happybiz-web/BOTHANICA+MINERAL/striort/seta.png", alt="")
        // menu-nobile
        .menu-mob-flutuante#menu-mob-flutuante.img-back-leort(style="display:none;")
            ul.display-menu-mob
                li 
                    a(class="link-topo",href="#inscricao", class="goesTo") INSCRIÇÃO
                li 
                    a(class="link-topo",href="#agenda", class="goesTo") AGENDA
                li 
                    a(class="link-topo",href="#resultados", class="goesTo") Resultados
                li 
                    a(class="link-topo goesTo",href="#curso", class="goesTo" ) ORTOSHOCK®
                //li 
                    a(class="link-topo",href="#prof",class="goesTo"  ) MIDIA
                li 
                    a(class="link-topo",href="#depoimentos", class="goesTo" ) Depoimentos
                li 
                    a(class="link-topo",href="#cuidadora", class="goesTo" ) Educadora
                li 
                    a(class="link-topo teaser",href="#teaser", class="goesTo" ) TEASER
            .fechar-menu
                img(src="img/fechar.png", alt="Botão Fechar")

        // Header navegação
        header#topo
            .container#cabeca
                .row.center-vertical
                    .logo-leort.col-xs-6.col-xs-push-3.col-md-2.col-md-push-0
                        a(href="https://www.bothanicamineral.com.br/" target="_blank")
                            img.logo(src="img/Logo-ortoshock.svg", alt="Logo Bothanica Mineral")
                    .menu-leort.col-xs-3.col-xs-pull-6.col-md-8.col-md-pull-0
                        // Navegação para desk
                        nav.visible-md.visible-lg
                            ul.display-menu
                                li 
                                    a(class="link-topo",href="#inscricao", class="goesTo") INSCRIÇÃO
                                li 
                                    a(class="link-topo",href="#agenda", class="goesTo") AGENDA
                                li 
                                    a(class="link-topo",href="#resultados", class="goesTo") Resultados
                                li 
                                    a(class="link-topo",href="#curso",  class="goesTo" )  ORTOSHOCK®
                                //li 
                                    a(class="link-topo",href="#na-midia", class="goesTo") MIDIA
                                li 
                                    a(class="link-topo",href="#depoimentos", class="goesTo" ) Depoimentos
                                li 
                                    a(class="link-topo",href="#cuidadora", class="goesTo" ) Educadora
                                li 
                                    a(class="link-topo teaser",href="#teaser", class="goesTo" ) TEASER
                        // Navegação para mob
                        nav.visible-xs.visible-sm
                                .menu-mob
                                    span.icon-bar
                                    span.icon-bar  
                                    span.icon-bar                   


                    .rede-sociais.col-xs-3.col-md-2
                        a(href="https://www.instagram.com/bothanicamineral/?hl=pt" target="_blank")
                            img(src="img/insta.svg", alt="Instagram")
                        a(href="https://www.facebook.com/Bothanicamineral/" target="_blank")
                            img(src="img/face.svg", alt="Facebook")
                        a(href="https://www.youtube.com/channel/UCXt09yqtrEngqUL8KANHuDA" target="_blank")
                            img(src="img/youtube.svg", alt="Youtube")

            .line-blue



        block content


        block footer   
            footer.bg-second
                .container
                    .col-sm-2
                        h5.bold Institucional
                        ul.footer-texto
                            li 
                                a(href="http://www.bothanicamineral.com.br/sobre-a-empresa" target="_blank") Sobre a Empresa
                            li 
                                a(href="http://www.bothanicamineral.com.br/atendimento-cliente" target="_blank") Fale Conosco
                    .col-sm-2
                        h5.bold Sou Profissional
                        ul.footer-texto
                            li 
                                a(href="http://www.bothanicamineral.com.br/beneficios" target="_blank") Benefícios
                            li 
                                a(href="http://www.bothanicamineral.com.br/protocolos" target="_blank") Protocolos
                            li 
                                a(href="http://www.bothanicamineral.com.br/cursos-bothanica-mineral" target="_blank") Cursos

                    .col-sm-4
                        h5.bold Bothanica Mineral®
                        div(data-is,data-is-access-token="1350688656.e1a1633.650934410b56449f8c6b489e04e2791d", data-is-source="",data-is-width="auto",data-is-layout="grid",data-is-columns="3",data-is-rows="3",data-is-lang="en", data-is-color-popup-follow-butto, data-is-limit ="9")
                        .my-instashow

                    .col-sm-4
                        .footer-texto.logo-footer
                            a(href="https://www.bothanicamineral.com.br/" target="_blank")
                                img(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/BOTHANICA+MINERAL/site/logo.png", alt="", srcset="")
                .container-fluid.logo-biz
                        a(href="http://www.happybiz.com.br/" target="_blank")
                            img.logo-biz-img(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/BOTHANICA+MINERAL/site/logo-biz.png", alt="HappyBiz")

                   




        block scriptsJS
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
            script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js", type="text/javascript")
            script(src="js/elfsight-instagram-feed.js")

            